.blog-card {
  background-color: white;
  overflow: hidden;
}

.blog-card img {
  height: 220px;
}

.blog-card-body {
  padding: 16px 35px 26px 35px;
  text-align: left;
  height: 217px;
  position: relative;
}

.blog-card-body span {
  color: #6C6666;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

.blog-card-body h2 {
  font-weight: 600;
  font-size: 24px;
  color: black;
  letter-spacing: 0.01em;
  line-height: 33px;
}

.blog-card-body button {
  width: 170px;
  height: 48px;
  border: 1px solid #7C3693;
  border-radius: 100px;
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
  font-weight: 300;
}

.blog-card-body div {
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: black;
}

.blog-card-body button:hover {
  filter: drop-shadow(0px 2px 10px #B11BA2);
}