.project-card-logo {
    width: 340px;
    min-width: 340px;
    height: 400px;
    border-radius: 20px;
}

.project-card {
    cursor: pointer;
    width: 340px;
    min-width: 340px;
    height: 400px;
}

.project-card-name {
    margin-top: -130px;
    font-weight: 700;
    font-size: 130%;
    transition: 0.3s;
}

.project-card:hover {
    font-size: 135%;
    transition: 0.3s;
}

.project-card-big-button:hover {
    border-color: #833393;
    box-shadow: 10px 10px 20px rgba(255, 29, 232, 0.25);
    -webkit-box-shadow: 10px 10px 20px rgba(255, 29, 232, 0.25);
    -moz-box-shadow: 10px 10px 20px rgba(255, 29, 232, 0.25);
}

