.project-card-logo {
    width: 340px;
    min-width: 340px;
    height: 400px;
    border-radius: 20px;
}

.project-card {
    cursor: pointer;
    width: 340px;
    min-width: 340px;
    height: 400px;
}

.project-card-name {
    margin-top: -130px;
    font-weight: 700;
    font-size: 130%;
    transition: 0.2s;
}

.project-card:hover  .project-card-name{
    font-size: 90%;
    margin-top: -180px;
    font-weight: 400;
    transition: 0.2s;
}

